img {
  border-radius: 25%;
  width: 200px;
  padding: 10px;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}